

/*  RESPONSIVE
   ========================================================================= 

 Escritorios muy grandes
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) { 

	body{
		margin: 0;
		background-color: yellow;
		overflow: auto;
	}


	#cabecera{
		display: flex;
		flex-direction: row;
		height: 80px;
		background-color: black;
	}

	

	#principal{
		background-color: blue;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		height: 600px;
		justify-content: center;
	}

	#clientes{
		background-color: red;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		height: 600px;
		justify-content: center;
	}

	#caja{
		margin-top: 130px;
		margin-right: 20px;
		background-color: yellow;
		width: 250px;
		height: 250px;
	}

	.client{
		border-radius: 50%;
	}
	
	#footer{
		background-color: green;
		display: flex;
		flex-direction: row;
		height: 500px;


	}


}   
   

/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1199px) { 

	body{
		margin: 0;
		background-color: green;
		overflow: auto;
	}


	#cabecera{
		display: flex;
		flex-direction: row;
		height: 150px;
		background-color: black;
	}

	#principal{
		background-color: blue;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		height: 600px;
		justify-content: center;
	}

	#clientes{
		background-color: red;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		height: 600px;
		justify-content: center;
	}

	#caja{
		margin-top: 130px;
		margin-right: 20px;
		background-color: yellow;
		width: 250px;
		height: 250px;
	}

	.client{
		border-radius: 50%;
	}
	
	#footer{
		background-color: green;
		display: flex;
		flex-direction: row;
		height: 500px;


	}

}  

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 767px) { 

	body{
		background-color: blue;
	}


}   

/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 480px) { 
	body{
		background-color: red;
	}

}
